@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --ui-color-primary-100: #ccccd4;
  --ui-color-primary-200: #c4bcc4;
  --ui-color-primary-300: #8f879c;
  --ui-color-primary-400: #544463;
  --ui-color-secondary-100: #fbf2e1;
  --ui-color-secondary-200: #f7e5c9;
  --ui-color-secondary-300: #fbb43c;
  --ui-color-secondary-400: #faa005;
  --ui-color-white: #f5f7f8;
  --ui-color-black: #17202a;
  --ui-color-delete-100: #fa808a;
  --ui-color-delete-200: #e56175;
  --ui-color-create-100: #88f288;
  --ui-color-create-200: #92ed92;
  --ui-color-edit-100: #9ed6fa;
  --ui-color-edit-200: #7cb8df;
  --font-title: 3rem;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.background-color-components {
  background: var(--ui-color-secondary-100);
}

.container-phone {
  display: none;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: var(--ui-color-primary-400);
  a {
    text-decoration: none;
    color: var(--ui-color-white);

    &:focus,
    &:active {
      text-decoration: none;
    }

    &:hover {
      color: var(--ui-color-secondary-300);
    }
  }
}

ul,
li {
  padding: 1rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.list {
  display: flex;
  align-items: center;
  img {
    width: 5rem;
    height: auto;
    margin-right: 4rem;
  }
}

.list-admin {
  padding-left: 40rem;
}

.search-params {
  width: 100%;
  margin: 0;
}

.form-pet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8rem auto;
  border-radius: 2rem;
  max-width: 1603px;
  padding: 2rem;
}

.search-btn,
#modal button,
.detail-btn,
.about-btn,
.user-create-btn,
.user-delete-btn,
.user-edit-btn,
.form-pet-input,
.search,
.adopted-pet-container,
.adopted-pet-text {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.search-btn,
#modal button,
.detail-btn,
.about-btn {
  background: var(--ui-color-secondary-300);
  margin: 0.9rem;
  width: 10rem;

  &:hover,
  &:active,
  &:focus {
    background-color: var(--ui-color-secondary-400);
    border: 1px solid var(--ui-color-primary-400);
  }
}

.admin-container table {
  margin-bottom: 5rem;
}

.user-create-btn {
  background: var(--ui-color-create-100);
  margin: 2rem;
  &:hover,
  &:active,
  &:focus {
    background-color: var(--ui-color-create-200);
    border: 1px solid var(--ui-color-create-200);
  }
}

.user-delete-btn {
  background: var(--ui-color-delete-100);
  margin: 0.5rem;
  &:hover,
  &:active,
  &:focus {
    background-color: var(--ui-color-delete-200);
    border: 1px solid var(--ui-color-delete-200);
  }
}

.user-edit-btn {
  background: var(--ui-color-edit-100);
  margin: 0.5rem;
  &:hover,
  &:active,
  &:focus {
    background-color: var(--ui-color-edit-200);
    border: 1px solid var(--ui-color-edit-200);
  }
}

.detail-btn {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.adopted-pet-buttons {
  display: inline-flex;
  gap: 5rem;
}

.form-pet-input,
.search,
.adopted-pet-container,
.details {
  flex-direction: column;
  max-width: 1603px;
}

/* main containers */

.form-pet-input {
  width: 25rem;
  margin-bottom: 30px;
  height: 35px;
  margin: 2rem auto;
  padding: 0.3rem;
  text-color: black;
}
::placeholder,
select {
  padding-left: 10px;
}

.search-params label {
  display: block;
}

.search {
  background: var(--ui-color-primary-300);
  padding: 5rem;
  border-radius: 2rem;
  margin-bottom: 8rem;

  a {
    color: var(--ui-color-black);

    &:hover {
      color: var(--ui-color-secondary-100);
    }
  }
}

.details {
  margin: 8rem auto;
  border-radius: 2rem;
  background: var(--ui-color-secondary-100);
  padding: 4rem;
}

.adopted-pet-container {
  margin: 1rem auto;
}

.pet {
  width: 100%;
  display: block;
  border-bottom: #333 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pet img {
  width: 100px;
  min-height: 100px;
}

.adopted-pet {
  margin: 10px 40px 40px 370px;
  clip-path: circle(50% at 50% 50%);
  width: 200px;
  height: 200px;
  margin: 0;
}

.adopted-pet-text {
  margin-top: 1rem;
}

.info {
  width: 80%;
  height: 100px;
  padding-top: 10px;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.image-container {
  clip-path: circle(50% at 50% 50%);
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px 40px 40px 0px;
}
.pet h1 {
  white-space: nowrap;
  font-weight: normal;
  font-size: 30px;
  color: #333;
  width: 95%;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
}

.pet h2 {
  white-space: nowrap;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  text-overflow: ellipsis;
}

.details p {
  line-height: 1.5;
  padding: 5rem;
}

.details h1 {
  text-align: center;
  color: #333;
  font-size: 60px;
  margin: 5px 0px;
}
.details h2 {
  text-align: center;
  margin: 5px 0px 20px 0px;
}
.carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  margin-top: 8px;
}
.carousel > img {
  max-width: 45%;
  max-height: 400px;
}
.carousel-smaller {
  width: 50%;
}
.carousel-smaller > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  margin: 15px;
  cursor: pointer;
  border: 2px solid #333;
}
.carousel-smaller > img.active {
  border-color: #333;
  opacity: 0.6;
}

#modal a {
  padding: 5px 25px;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 10px;
  margin: 0 auto;
  cursor: pointer;
  display: inline-block;
  margin-right: 15px;
  text-decoration: none;
}

#modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  max-width: 500px;
  padding: 15px;
  text-align: center;
  border-radius: 30px;
  background: #faeff0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.mini.loading-pane {
  height: 34px;
}
.mini .loader {
  font-size: 34px;
}

/* css for about page */

.about-container {
  max-width: 1613px;
  justify-content: center;
  align-items: center;
}

.header-img {
  width: 40rem;
  height: auto;
}

.about-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 20rem;
}

.pet-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
}

.details-card,
.hero-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem auto;
  border-radius: 2rem;
  max-width: 1603px;

  .details-card-item,
  .hero-card-item {
    padding: 5rem;
  }
}
.card-item-title,
.hero-item-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  font-weight: bold;
  font-size: var(--font-title);
}

.admin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 8rem auto;
  border-radius: 2rem;
  max-width: 1603px;
}

.table-col,
.table-btn {
  border-top: #333 2px solid;
}

.table-col {
  padding: 4rem;
}

.admin-header {
  padding: 8rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table-user {
  background: var(--ui-color-secondary-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8rem auto;
  border-radius: 2rem;
  max-width: 1603px;
  padding: 2rem;

  label {
    display: block;
  }
}
label {
  font-weight: bold;
}

.form-user-input {
  border-radius: 50px;
  width: 25rem;
  margin-bottom: 30px;
  font-size: 18px;
  height: 35px;
  padding: 0.5rem;
}

.contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem auto;
  border-radius: 2rem;
  max-width: 95rem;
  padding: 2rem;
}

.contact-form {
  padding: 2rem;
}

.contact-details {
  padding: 2rem;
  width: 50%;
}

.contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

/* admin */
.user-update {
  background: var(--ui-color-secondary-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8rem auto;
  border-radius: 2rem;
  max-width: 1603px;
  padding: 2rem;
  text-color: black;
}

.admin-title {
  padding-button: 5rem;
}

/* phone */
@media only screen and (max-width: 767px) {
  .navbar {
    display: none;
  }

  .container-phone {
    background-color: var(--ui-color-primary-400);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .logo-img-nav {
    width: 80px;
    height: auto;
    margin-left: 10rem;
  }

  .container-nav {
    display: inline-block;
    cursor: pointer;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--ui-color-secondary-200);
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .dropbtn {
    background-color: var(--ui-color-primary-400);
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 6px;
  }

  .dropbtn:hover,
  .dropbtn:focus {
    background-color: var(--ui-color-primary-300);
  }

  .dropdown-content {
    display: none;
    background-color: var(--ui-color-primary-300);
    min-width: 180px;
    z-index: 1;
    position: absolute;
    border-radius: 6px;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
  }

  .dropdown a:hover {
    background-color: #ddd;
  }

  .show {
    display: block;
  }

  /* about */
  .about-container {
    .hero-item-title,
    .hero-item-p {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 15rem;
    }

    .about-btn {
      width: 10rem;
    }
  }
  .header-img,
  .logo-img {
    display: none;
  }

  .pet-cards {
    display: none;
    flex-direction: column;
  }

  .details-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .details-card-item,
  .hero-card-item {
    padding-top: 3rem;
  }

  /* pet */
  .form-pet {
    padding: 2rem 1rem;
  }

  .search {
    padding: 0;
    margin: 5rem 0;
    border-radius: 0rem;

    .pet h1,
    .pet h2 {
      font-size: 15px;
      margin: 1rem 0;
    }
  }

  /* contact */

  .contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }
  .contact-details {
    padding-top: 5rem;
    width: 98%;
  }

  .form-pet-input {
    width: 20rem;
  }

  /* admin */
  .admin-header {
    padding: 2.5rem 0rem;
  }

  .table-col {
    padding: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: none;
  }

  .table-btn {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 10rem;
    border-top: none;
  }

  tr th:nth-child(1),
  tr th:nth-child(2),
  tr th:nth-child(3),
  tr th:nth-child(4) {
    display: none;
  }

  .user-create-btn {
    margin: 2rem 0rem;
  }

  #root > div.details > div:nth-child(2) > p {
    padding: 0rem;
    margin-top: 2rem;
  }

  #root > div.details > div.carousel > div > img:nth-child(2),
  img:nth-child(3) {
    display: none;
  }
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10rem;
  }
  .header-img {
    display: none;
  }
  .details-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .table-col {
    padding: 1rem;
  }
}
